.errorLoginWrapper{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 60px;
    background: #F5E9E9;
    border: 1px solid #E26F6F;
    box-sizing: border-box;
    border-radius: 8px;

    font-size: 14px;
    line-height: 17px;

    color: #000000;
    margin-bottom: 40px;
}

.errorLogin__img{
    width: 20px;
    height: 20px;
    text-align: center;

    border-radius: 50%;
    background: #FFC8C8;

    font-size: 20px;
    line-height: 17px;

    color: #EE6565;

    margin-right: 10px;
}


@media(max-width:420px){
    .errorLogin__img{
        margin: 5px 0 5px 0;
    }

    .errorLoginWrapper {
        flex-direction: column;
        height: 100%;
    }
}
