.searchWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputSearch {
    input {
        width: 400px;
        height: 25px;
        border-radius: 5px;
        padding-left: 10px;
        border: unset;
        background: #e2e2e2;
        outline: unset;
    }
}

.errorText {
    margin-top: 10px;
    color: red;
    display: flex;
    align-items: center;

    img {
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }
}

.inputForma {
    height: 70px;
    text-align: left;
    margin-bottom: 40px;

    input {
        width: 100%;
        height: 60px;
        padding: 0;
        background-color: #F5F5F5;
        border-radius: 8px;
        outline: none;
        border: none;
        padding-left: 10px;
        box-sizing: border-box;
        line-height: 19px;
        color: #232323;
    }

    span {
        font-size: 14px;
        line-height: 17px;
        color: #E26F6F;
    }

}


.buttonSend {
    position: absolute;
    right: 60px;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: none;
    background: url("../../img/search.svg") no-repeat;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform .5s;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.buttonSearchReset{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    border-radius: 8px;
    border: none;
    object-fit: cover;
    background: url("../../img/close-search.svg") no-repeat;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform .5s;
    }
}

