.App {
    text-align: center;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.container {
    max-width:900px;
    margin: 0 auto;
    text-align: center;
}


@media (max-width: 1600px) {
    .container {
        max-width: 500px;
    }
}



@media (max-width: 700px) {
    .container {
        max-width: 500px;
    }
}

@media (max-width: 530px) {
    .container {
        max-width: 400px;
    }
}


@media (max-width: 420px) {
    .container {
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: 250px;
    }
}


@media (max-width: 260px) {
    .container {
        max-width: 200px;
    }
}
